<div class="contenedor row">
    <div class="contenedor-info col d-flex">
        <div class="d-flex justify-content-around align-items-center" [ngClass]="{'contenedor-info-logo-h': result.iden?.sexo === 'H','contenedor-info-logo-m': result.iden?.sexo === 'M' }">
            <label>{{iniciales}}</label>
            <!--<i class="fa-solid fa-house"></i>-->
        </div>
        <div>            
            <label class="contenedor-info-name">{{result.iden?.nomb }} {{result.iden?.ape1}} {{result.iden?.ape2}} ({{result.iden?.sexo}}, {{result.iden?.fena}})</label>
            <div>
                <label><strong>SIP </strong>{{result.iden?.nsip }}</label>
                <label><strong>NIF</strong> 123456789</label>
                <label>616 002 001 / 98 265 265</label>
                <i class="fa-solid fa-house"></i>
            </div>
        </div>
    </div>
    <div class="contenedor-notificacion col-5">
        <div></div>
    </div>
</div>

<ul class="nav nav-pills" id="pills-tab" role="tablist">
    <li style="margin: 0 15px;
    width: 130px;"  class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-social-tab" data-bs-toggle="pill" data-bs-target="#pills-social" type="button" role="tab" aria-controls="pills-social" aria-selected="true">{{"tabs.historiaSocial" | transloco}}</button>
    </li>
    <li style="margin: 0 10px;
    width: 139px;" class="nav-item" role="presentation">
      <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">{{"tabs.datosPersonales" | transloco}}</button>
    </li>
    <!--<li style="margin: 0 10px;
    width: 130px;" class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Visor familiar</button>
      </li> 
      <li style="margin: 0 10px;
      width: 171px;" class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Diagnóstico del contexto</button>
      </li> 
     <li style="margin: 0 10px;" class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">PPIS</button>
    </li> -->
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane show active" id="pills-social" role="tabpanel" aria-labelledby="pills-home-tab">
        <app-social-history></app-social-history>
    </div>
    <div class="tab-pane" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <app-personal-information></app-personal-information>
    </div>
     <div class="tab-pane" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <app-ppis></app-ppis>
    </div>
  </div>