<div class="row" style="box-shadow: 0 4px 2px -2px #dedbdb;">
    <div class="col d-flex" style="margin: 15px; padding-left: 34px; ">
        <div style="align-self: center;">
            <i class="fa-solid fa-house"></i>
        </div>
        <div>            
            <label for=""  style="font-weight: 500; padding: 0 12px;">JUAN GARCÍA FERNÁNDEZ (H, 02/08/1997)</label>
            <div>
                <label for="" style="padding: 0 12px; font-size: 12px;"><strong>SIP </strong>123456789</label>
                <label for="" style="padding: 0 12px; font-size: 12px;"><strong>NIF</strong> 123456789</label>
                <label for="" style="padding: 0 12px; font-size: 12px;">616 002 001 / 98 265 265</label>
                <i style="padding: 0 12px 0 12px;" class="fa-solid fa-house"></i>
            </div>
        </div>
    </div>
    <div class="col" style="text-align: -webkit-right;">
        <div style="width: 70%; margin: 8px; background: #f1f0f0; border-radius: 4px; height: 9vh;">    
        </div>
    </div>
</div>

<ul class="nav nav-pills" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Datos personales</button>
    </li>
    <!-- <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">PPIS</button>
    </li> -->
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <app-personal-information></app-personal-information>
    </div>
    <!-- <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <app-ppis></app-ppis>
    </div> -->
  </div>