div {
  padding: 15px 40px 0 15px;

  > .d-flex {
    justify-content: space-between;
    border-bottom: 1px solid #cfcfcf;

    .label-izq {
      font-size: 15px;
      font-weight: bold;
      color: #333333;
    }

    .label-der {
      font-size: 11px;
      color: #6e6e6e;
    }
  }

  > .fila1 {
    padding-top: 10px;
    font-size: 12px;
  }

  button {
    font-size: 13px;
    font-weight: bold;
    height: 33px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
    border-radius: 2px;
  }
}

.label-negrita {
  font-size: 12px;
  font-weight: bold;
}

.label-result {
  font-size: 14px;
}

thead {
  //background-color: #d11e1e !important;
  //border: 1px solid #707070;
  //opacity: 0.08;
}

.table-secondary {
  //border: 1px solid #707070;
  //opacity: 0.08;
}

.estado-abierto {
  font-size: 13px;
  font-weight: bold;
  color: #2D8533;
  text-align: center;
  width: 78px;
  background: #e1f9e9 0% 0% no-repeat padding-box;
  border-radius: 20px;
}

.estado-cerrado {
  font-size: 13px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  width: 78px;
  background: #F1F0F0 0% 0% no-repeat padding-box;
  border-radius: 20px;
}
