$primary-color: #a91f34;

.contenedor {
  padding: 15px 40px 0 29px;

  > .d-flex {
    justify-content: space-between;
    border-bottom: 1px solid #cfcfcf;

    .label-izq {
      font-size: 15px;
      font-weight: bold;
      color: #565353;
    }

    .label-der {
      font-size: 11px;
      color: #777777;
    }
  }

  > .fila1 {
    padding-top: 10px;
    font-size: 12px;
    &.spacing-table {
      padding: 15px 11px 0 14px;
    }
  }
}

.label-negrita {
  font-size: 12px;
  font-weight: bold;
  color: #212529;
}

.label-result {
  font-size: 14px;
  color: #333333;
}

.label-unid-conv {
  display: flex;
  align-items: flex-end;
}

.table-secondary {
  --bs-table-bg: #ebebeb;
  border-color: #ebebeb;
}

.estados {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  width: 78px;
  height: 33px;
  border-radius: 20px;
  &.estado-abierto {
    color: #2d8533;
    background: #e1f9e9 0% 0% no-repeat padding-box;
  }
  &.estado-cerrado {
    color: #000000;
    background: #f1f0f0 0% 0% no-repeat padding-box;
  }
}

button {
  font-size: 12px;
  color: #565353;
  font-weight: bold;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #565353;
  border-radius: 2px;
}

button:hover {
  border: 1px solid $primary-color;
  color: $primary-color;
  border-radius: 3px;
  i:hover {
    color: $primary-color;
  }
}

.btn-editar-sip {
  height: 33px;
  width: 136px;
  }

.btn-unidad-conv {
  height: 30px;
  width: 174px;
  margin-bottom: 10px;
}

table > :not(caption) > * > * {
  padding: 0.3rem 0.5rem;
}

thead tr {
  color: #333333;
}

tbody tr {
  font-size: 13px;
  color: #333333;
  > td em {
    font-size: 12px;
  }
}

.table-anadir {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.btn-anadir {
  padding: 1px 0px;
  width: 90px;
  height: 30px;
}

.form-select {
  border: 1px solid #ccc9c9;
  border-radius: 3px;
  font-size: 13px;
  width: 172px;
  height: 30px;
}

.fa-circle-info {
  color: #5ec6f3;
  cursor: pointer;
}

.fa-file-lines {
  cursor: pointer;
}

.fa-pen {
  padding-right: 5px;
}

.fa-clock-rotate-left {
  padding-right: 5px;
}

.fa-plus {
  padding-right: 5px;
}

.form-check-input {
  border: 1px solid #707070;
  border-radius: 2px;
  opacity: 0.78;
}

.form-check-input:checked {
  background-color: #565353;
  border-color: #565353;
}

::ng-deep .mdc-tooltip__surface {
  white-space: pre-line;
  text-align: start !important;
}