.contenedor {
  padding: 15px 40px 0 29px;

  > .d-flex {
    justify-content: space-between;
    border-bottom: 1px solid #cfcfcf;

    .label-izq {
      font-size: 15px;
      font-weight: bold;
      color: #333333;
    }

    .label-der {
      font-size: 11px;
      color: #6e6e6e;
    }
  }

  > .fila1 {
    padding-top: 10px;
    font-size: 12px;
    &.spacing-table {
      padding: 15px 11px 0 14px;
    }
  }

  button {
    font-size: 13px;
    font-weight: bold;
    height: 33px;
    width: 118px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
    border-radius: 2px;
  }
}

.label-negrita {
  font-size: 12px;
  font-weight: bold;
}

.label-result {
  font-size: 14px;
}

.table-secondary {
  --bs-table-bg: #ebebeb;
  border-color: #ebebeb;
}

.estados {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  width: 78px;
  height: 33px;
  border-radius: 20px;
  &.estado-abierto {
    color: #2d8533;
    background: #e1f9e9 0% 0% no-repeat padding-box;
  }
  &.estado-cerrado {
    color: #000000;
    background: #f1f0f0 0% 0% no-repeat padding-box;
  }
}

table > :not(caption) > * > * {
  padding: 0.3rem 0.5rem;
}

tbody tr {
  font-size: 13px;
  > td em {
    font-size: 12px;
  }
}

.fa-circle-info {
  color: #5ec6f3;
}
