<div style="padding: 15px 40px 0 32px;">
    <div class="d-flex" style="justify-content: space-between; border-bottom: 1px solid #cfcfcf;">
        <label style="font-size: 15px; font-weight: 500;" for="">Datos de contacto</label>
        <label style="font-size: 10px; color: #6e6e6e;"> <em>Última actualización SIP: 12/03/2023 7:30</em> </label>
    </div>
    <div class="row" style="padding-top: 10px; font-size: 12px;">
        <div class="col-sm-4 align-column">
            <label style="font-weight: 500;" for="">Dirección</label>
            <label for="">C/ del Mar, 5 2B</label>
            <label for="">46999 Elda, Alicante</label>
        </div>
        <div class="col-sm-3 align-column">
            <label style="font-weight: 500;" for="">Teléfono móvil de contacto</label>
            <label for="">616 002 231</label>
        </div>
        <div class="col-sm-3 align-column">
            <label style="font-weight: 500;" for="">Teléfono fijo</label>
            <label for="">95 236 22 22</label>
        </div>
        <div class="col-sm-2">
            <button
                style="background-color: #666666; border: unset; color: white; border-radius: 3px; height: 35px;">Editar
                desde
                SIP</button>
        </div>
    </div>
    <div class="row" style="font-size: 12px;">
        <div class="col-sm-4 align-column">

        </div>
        <div class="col-sm-3 align-column">
            <label style="font-weight: 500;" for="">Teléfono alternativo</label>
            <label for="">-</label>
        </div>
        <div class="col-sm-3 align-column">
            <label style="font-weight: 500;" for="">Teléfono móvil extranjero</label>
            <label for="">-</label>
        </div>
        <div class="col-sm-2">
            <button
                style="background-color: #666666; border: unset; color: white; border-radius: 3px; height: 35px;">Búsqueda
                en
                padrón</button>
        </div>
    </div>
    <div class="row" style="font-size: 12px;">
        <div class="col align-column">
            <label style="font-weight: 500;" for="">Email</label>
            <label for="">juangarcia@gmail.com</label>
        </div>
    </div>


    
</div>