<!--Datos de contacto-->

<div class="contenedor">
    
    <div class="d-flex">
        <label class="label-izq">{{ "tabDatosContacto.datosContacto" | transloco }}</label>
        <label class="label-der"> <em>{{ "tabDatosContacto.fechaActualizacion" | transloco }}: {{personalData.return?.iden?.fact | date:'yyyy-MM-dd'}}</em></label>
    </div>
    <div class="fila1 row">
        <div class="col-sm-4 align-column">
            <label class="label-negrita">{{ "tabDatosContacto.direccion" | transloco }}</label>
            <label class="label-result">{{personalData.return?.loca?.dirRes?.cal?.calCod?.tiv}} {{personalData.return?.loca?.dirRes?.cal?.calCod?.nomb}}, {{personalData.return?.loca?.dirRes?.espe?.nume}}</label>
            <label class="label-result">{{personalData.return?.loca?.dirRes?.copo}} {{personalData.return?.loca?.dirRes?.loc?.nomb}}, {{personalData.return?.loca?.dirRes?.prv?.nomb}}</label>
        </div>
        <div class="col-sm-3 align-column">
            <label class="label-negrita">{{ "tabDatosContacto.telefonoMovilContacto" | transloco }}</label>
            <label class="label-result">616 002 231</label>
        </div>
        <div class="col-sm-3 align-column">
            <label class="label-negrita">{{ "tabDatosContacto.telefonoFijo" | transloco }}</label>
            <label class="label-result">{{personalData.return?.loca?.tele}}</label>
        </div>
        <div class="col-sm-2 text-end">
            <button class="btn-editar-sip"><i class="fa-solid fa-pen"></i>{{ "tabDatosContacto.btnEditarSIP" | transloco }}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 align-column">

        </div>
        <div class="col-sm-3 align-column">
            <label class="label-negrita">{{ "tabDatosContacto.telefonoAlternativo" | transloco }}</label>
            <label class="label-result">{{personalData.return?.loca?.teco}}</label>
        </div>
        <div class="col-sm-3 align-column">
            <label class="label-negrita">{{ "tabDatosContacto.telefonoMovilExt" | transloco }}</label>
            <label class="label-result">-</label>
        </div>
        
    </div>
    <div class="row">
        <div class="col align-column">
            <label class="label-negrita">Email</label>
            <label class="label-result">{{personalData.return?.loca?.correo}}</label>
        </div>
    </div>
</div>

<!--Datos sociales-->
<div class="contenedor">
    <div class="d-flex">
        <label class="label-izq">{{ "tabDatosContacto.datosSociales" | transloco }}</label>
    </div>
    <div class="fila1 row">
        <div class="col-sm-4 align-column">
            <label class="label-negrita">{{ "tabDatosContacto.centroServicioSoc" | transloco }}</label>
            <label class="label-result">CSS de Buñol</label>
        </div>
        <div class="col-sm-4 align-column">
            <label class="label-negrita">{{ "tabDatosContacto.profesionalRef" | transloco }}</label>
            <label class="label-result">Juan Jaime Perales Ruíz</label>
        </div>
    </div>
</div>

<!--Datos sanitarios-->
<div class="contenedor">
    <div class="d-flex">
        <label class="label-izq">{{ "tabDatosContacto.datosSanitarios" | transloco }}</label>
    </div>
    <div class="fila1 row">
        <div class="col-sm-2 align-column">
            <label class="label-negrita">{{ "tabDatosContacto.numSeguridadSoc" | transloco }}</label>
            <label class="label-result">{{personalData.return?.acre?.nuss }} - {{personalData.return?.acre?.tibe }}</label>
        </div>
        <div class="col-sm-2 align-column">
            <label class="label-negrita">{{ "tabDatosContacto.centroAsignado" | transloco }} <i class="fa-solid fa-circle-info"[matTooltip]="getTooltipText()"
                matTooltipPosition="above" matTooltipClass="custom-tooltip"></i></label>
            <label class="label-result">{{personalData.return?.asig?.cen?.nomb}}</label>
        </div>
        <div class="col-sm-3 align-column">
            <label class="label-negrita">{{ "tabDatosContacto.profesionalTrabajoSoc" | transloco }}</label>
            <label class="label-result">Sonia Ruíz López</label>
        </div>
        <div class="col-sm-3 align-column">
            <label class="label-negrita">{{ "tabDatosContacto.telefonoCentroSalud" | transloco }}</label>
            <label class="label-result">616 002 231</label>
        </div>
    </div>
</div>

<!--Unidad de convivencia-->
<div class="contenedor">
    <div class="d-flex">
        <label class="label-izq label-unid-conv">{{ "tabDatosContacto.unidadConvivencia" | transloco }}</label>
        <button class="btn-unidad-conv"><i class="fa-solid fa-clock-rotate-left"></i>{{ "tabDatosContacto.btnUnidadConvivencia" | transloco }}</button>
    </div>
    <div class="fila1 row spacing-table">
        <table class="table align-middle">
            <thead class="table-secondary">
              <tr>
                <th width="5%"></th>
                <th width="10%">SIP</th>
                <th width="15%">{{ "tabDatosContacto.nomApe" | transloco }}</th>
                <th width="15%">{{ "tabDatosContacto.vinculo" | transloco }}</th>
                <th width="10%">{{ "tabDatosContacto.telefono" | transloco }}</th>
                <th width="5%">PPIS</th>
                <th width="15%"></th>
                <th width="2%"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                <td >123456</td>
                <td>Lourdes Fernández</td>
                <td>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Mujer</option>
                        <option value="1">Conviviente</option>
                        <option value="2">Madre</option>
                      </select>
                </td>
                <td>616003002</td>
                <td>
                    <span class="estados estado-abierto">
                        Abierto
                    </span></td>
                <td><em>F. Última actualización 15/03/2023</em></td>
                <td><i class="fa-solid fa-file-lines"></i></td>
              </tr>
              <tr>
                <th scope="row"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                <td>123457</td>
                <td>Rocío García</td>
                <td>
                    <select class="form-select" aria-label="Default select example">
                        <option >Mujer</option>
                        <option selected value="1">Conviviente</option>
                        <option value="2">Madre</option>
                      </select>
                </td>
                <td>616003003</td>
                <td>
                    <span  class="estados estado-cerrado">Cerrado</span>
                </td>
                <td><em>F. Fin 15/03/2023</em></td>
                <td><i class="fa-solid fa-file-lines"></i></td>
              </tr>
            </tbody>
          </table>
          
    </div>
    <div class="row table-anadir">
        <button class="btn-anadir"><i class="fa-solid fa-plus"></i>{{ "tabDatosContacto.anadir" | transloco }}</button>
    </div>
</div>

<!--Personas Relacionadas-->
<div class="contenedor">
    <div class="d-flex">
        <label class="label-izq">{{ "tabDatosContacto.personaRelacionadas" | transloco }}</label>
    </div>
    <div class="fila1 row spacing-table">
        <table class="table align-middle">
            <thead class="table-secondary">
              <tr>
                <th width="5%"></th>
                <th width="10%">SIP</th>
                <th width="15%">{{ "tabDatosContacto.nomApe" | transloco }}</th>
                <th width="15%">{{ "tabDatosContacto.vinculo" | transloco }}</th>
                <th width="10%">{{ "tabDatosContacto.telefono" | transloco }}</th>
                <th width="15%"></th>
                <th width="2%"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                <td >123456</td>
                <td>Lourdes Fernández</td>
                <td>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Mujer</option>
                        <option value="1">Conviviente</option>
                        <option value="2">Madre</option>
                      </select>
                </td>
                <td>616003002</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                <td>123457</td>
                <td>Rocío García</td>
                <td>
                    <select class="form-select" aria-label="Default select example">
                        <option >Mujer</option>
                        <option selected value="1">Conviviente</option>
                        <option value="2">Madre</option>
                      </select>
                </td>
                <td>616003003</td>
                <td></td>
                <td></td>
                
              </tr>
            </tbody>
          </table>
    </div>
</div>