<!--Datos de contacto-->
<div>
    <div class="d-flex">
        <label class="label-izq" for="">Datos de contacto</label>
        <label class="label-der"> <em>Última actualización SIP: 12/03/2023 7:30</em></label>
    </div>
    <div class="fila1 row">
        <div class="col-sm-4 align-column">
            <label class="label-negrita" for="">Dirección</label>
            <label class="label-result" for="">C/ del Mar, 5 2B</label>
            <label class="label-result" for="">46999 Elda, Alicante</label>
        </div>
        <div class="col-sm-3 align-column">
            <label class="label-negrita" for="">Teléfono móvil de contacto</label>
            <label class="label-result" for="">616 002 231</label>
        </div>
        <div class="col-sm-3 align-column">
            <label class="label-negrita" for="">Teléfono fijo</label>
            <label class="label-result" for="">95 236 22 22</label>
        </div>
        <div class="col-sm-2">
            <button>Editar desde SIP</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 align-column">

        </div>
        <div class="col-sm-3 align-column">
            <label class="label-negrita" for="">Teléfono alternativo</label>
            <label class="label-result" for="">-</label>
        </div>
        <div class="col-sm-3 align-column">
            <label class="label-negrita" for="">Teléfono móvil extranjero</label>
            <label class="label-result" for="">-</label>
        </div>
        
    </div>
    <div class="row">
        <div class="col align-column">
            <label class="label-negrita" for="">Email</label>
            <label class="label-result" for="">juangarcia@gmail.com</label>
        </div>
    </div>
</div>

<!--Datos sociales-->
<div>
    <div class="d-flex">
        <label class="label-izq" for="">Datos sociales</label>
    </div>
    <div class="fila1 row">
        <div class="col-sm-4 align-column">
            <label class="label-negrita" for="">Centro servicio sociales</label>
            <label class="label-result" for="">CSSC de Buñol</label>
        </div>
        <div class="col-sm-3 align-column">
            <label class="label-negrita" for="">Profesional de refencia</label>
            <label class="label-result" for="">Juan Jaime Perales Ruíz</label>
        </div>
        <div class="col-sm-3 align-column">
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>

<!--Datos sanitarios-->
<div>
    <div class="d-flex">
        <label class="label-izq" for="">Datos sanitarios</label>
    </div>
    <div class="fila1 row">
        <div class="col-sm-2 align-column">
            <label class="label-negrita" for="">N° seguridad social</label>
            <label class="label-result" for="">925687458002 - Titular</label>
        </div>
        <div class="col-sm-2 align-column">
            <label class="label-negrita" for="">Centro asignado</label>
            <label class="label-result" for="">CAP de Buñol</label>
        </div>
        <div class="col-sm-3 align-column">
            <label class="label-negrita" for="">Profesional de trabajo social</label>
            <label class="label-result" for="">Sonia Ruíz López</label>
        </div>
        <div class="col-sm-3 align-column">
            <label class="label-negrita" for="">Teléfono del centro de salud</label>
            <label class="label-result" for="">6156 002 001</label>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>

<!--Unidad de convivencia-->
<div>
    <div class="d-flex">
        <label class="label-izq" for="">Unidad de convivencia</label>
    </div>
    <div class="fila1 row">
        <table class="table">
            <thead class="table-secondary">
              <tr>
                <th scope="col">#</th>
                <th scope="col">SIP</th>
                <th scope="col">Nombre y apellidos</th>
                <th scope="col">Vínculo</th>
                <th scope="col">Teléfono</th>
                <th scope="col">PPIS</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>123456</td>
                <td>Lourdes Fernández</td>
                <td>Mujer</td>
                <td>616003002</td>
                <td class="estado-abierto">Abierto</td>
                <td><em>F. Última actualización 15/03/2023</em></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>123457</td>
                <td>Rocío García</td>
                <td>Conviviente</td>
                <td>616003003</td>
                <td class="estado-cerrado">Cerrado</td>
                <td><em>F. Fin 15/03/2023</em></td>
                <td></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>