$primary-color: #a91f34;

.contenedor {
  height: 83px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #e4e4e4;

  .contenedor-notificacion {
    text-align: -webkit-right;

    >div {
      width: 70%;
      margin: 8px;
      background: #edecec 0% 0% no-repeat padding-box;
      border-radius: 5px;
      opacity: 0.79;
      height: 66px;
      text-align: left;
      font-size: 14px;
    }
  }
}

.search {
  padding-left: 43px;
  position: relative;
}

input {
  width: 282px;
  height: 30px;
  border: 1px solid #ccc9c9;
  border-radius: 3px;
  margin: 0 0 0 10px;

  margin-right: 60px;
  outline: none;

  font-size: 13px;
  color: #333333;
}

i {
  width: 31px;
  height: 30px;
  background: #565353 0% 0% no-repeat padding-box;
  border: 1px solid #ccc9c9;
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 334px;
  cursor: pointer;
}

i:hover {
  background: $primary-color 0% 0% no-repeat padding-box;
  border: 1px solid $primary-color;
  border-radius: 2px;
}

.btn-search-sip {
  width: 166px;
  height: 33px;
  font-size: 12px;
  font-weight: bold;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #565353;
  border-radius: 3px;
  color: #565353;
}

.btn-search-sip:hover {
  border: 1px solid $primary-color;
  color: $primary-color;
  border-radius: 0px 3px 3px 0px;
}