$primary-color: #a91f34;

.contenedor {
  padding: 15px 40px 0 60px;
}

button {
  font-size: 12px;
  color: #565353;
  font-weight: 500;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #565353;
  border-radius: 2px;
}

button:hover {
  border: 1px solid $primary-color;
  color: $primary-color;
  border-radius: 3px;
  i:hover {
    color: $primary-color;
  }
}

.btn-anadir {
  padding: 1px 0px;
  width: 90px;
  height: 30px;
}

.fa-plus {
  padding-right: 5px;
}

.form-select {
  border: 1px solid #ccc9c9;
  border-radius: 3px;
  font-size: 12px;
  font-style: italic;
  color: #666666;
  margin-right: 20px;
  width: 438px;
  height: 30px;
}

.seccion {
  margin-top: 30px;
  background: #d3cdcd 0% 0% no-repeat padding-box;
  > label {
    color: #212529;
    font-size: 14px;
    font-weight: bold;
  }
  .list-group-item {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 13px;
    color: #333333;
  }
}

.seccion-fact {
  margin-top: 30px;
  //
  //opacity: 0.3;
  > label {
    width: 100%;
    color: #565353;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #707070;
    padding-bottom: 3px;
  }
  > .row {
    padding-top: 20px;

    .form-check-input {
      font-size: 12px;
      border: 1px solid #707070;
      border-radius: 2px;
      opacity: 0.78;
    }

    .form-check-input:checked {
      background-color: #565353;
      border-color: #565353;
    }

    .form-check-label {
      font-size: 13px;
      color: #333333;
    }
  }
}

.seccion-radio {
  margin-top: 30px;
  //
  //opacity: 0.3;
  > label {
    width: 100%;
    color: #565353;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
  }
  .form-check-input {
    font-size: 14px;
  }

  .form-check-input:checked {
    background-color: #565353;
    border-color: #565353;
  }
  .form-check-label {
    font-size: 13px;
    color: #333333;
  }
}

.observaciones {
  margin-top: 30px;
  > label {
    width: 100%;
    color: #565353;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
  }
}

.botones-control {
  margin-top: 50px;

  .btn-guardar {
    width: 85px;
    height: 40px;
    background: #565353 0% 0% no-repeat padding-box;
    border-radius: 2px;
    font-size: 15px;
    color: #ffffff;
  }

  .btn-guardar:hover {
    background: $primary-color 0% 0% no-repeat padding-box;
    border: 1px solid $primary-color;
    border-radius: 2px;
  }

  .btn-cancelar {
    margin-left: 30px;
    width: 92px;
    height: 40px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #565353;
    border-radius: 2px;
    font-size: 15px;
    color: #565353;
  }

  .btn-cancelar:hover {
    border: 1px solid $primary-color;
    color: $primary-color;
    border-radius: 3px;
    font-weight: 500;
  }
}
