<div class="contenedor">
    <div class="d-flex">
        <select class="form-select" aria-label="Default select example">
            <option selected>Seleccione demanda</option>
            <option value="1">Conviviente</option>
            <option value="2">Madre</option>
        </select>

        <button class="btn-anadir"><i class="fa-solid fa-plus"></i>{{
            "tabDatosContacto.anadir" | transloco }}</button>
    </div>

    <div class="seccion">
        <label>Demandas seleccionadas</label>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">D1 - APOYO A SITUACIÓN DE DEPENDENCIA</li>
            <li class="list-group-item">D.4.4 - MEDIACIÓN POR SITUACIÓN DE
                CONVIVENCIA FAMILIAR ALTERADA</li>
            <li class="list-group-item"></li>
        </ul>
    </div>

    <div class="seccion">
        <label>Necesidad seleccionada</label>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">N1 - NECESIDAD BÁSICA DE AUTONOMÍA
                PERSONAL</li>
            <li class="list-group-item"></li>
        </ul>
    </div>
</div>
