<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <form onsubmit="event.preventDefault()" class="box">
            <div>
              <img width="130" src="C:\Users\jmbarrios\Downloads/logo_login (1).png" alt="">
              <h1>Login</h1>
              <input type="text" name="" placeholder="Username">
              <input type="password" name="" placeholder="Password">
              <input type="submit" name="" value="ACCEDER" href="#">
              <div class="col-md-12">
                <span class="copyright">Copyright 2023</span>
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
