<form onsubmit="event.preventDefault()" class="box">
  <div>
    <img src="../../../../../assets/icons/logo_login.png" alt>
    <h1>SIHSU</h1>
    <div style="text-align: start; color: #616264; font-size: 12px;">
      <label for="">USUARIO</label>
      <input type="text" name>
      <label for="">CONTRASEÑA</label>
      <input type="password" name>
    </div>

    <!--<input type="submit" name="" value="ACCEDER" href="#"> -->
    <button (click)="onLogin()">ACCEDER</button>
    <div class="col-md-12">
      <span class="copyright">&#169;&nbsp;Copyright 2023</span>
    </div>
  </div>
</form>