<div>
    <div class="header-hs">
        <label>{{
            "tabHistoriaSocial.diagnostico" | transloco
            }}</label>
        <p>
            PERSONA EN SITUACIÓN DE <strong>NECESIDAD GRAVE DE AUTONOMÍA</strong>
            POR
            <strong>NEGLIGENCIA EN LOS CUIDADOS</strong> QUE SE DAN EN UN CONTEXTO
            VITAL DE
            <strong>CARENCIA MODERADA POR PATOLOGÍAS MENTALES NO TRATADAS E INGRESOS
                INSUFICIENTES</strong>
        </p>
    </div>
    <hr />
    <div class="row contenedor">
        <div class="col-5 panel-necesidad">
            <div class="d-flex justify-content-between align-items-end" style="border-bottom: 1px solid #cfcfcf">
                <label class="label-title">{{
                    "tabHistoriaSocial.necesidades" | transloco
                    }}</label>
                <button class="btn-anadir">
                    <i class="fa-solid fa-plus"></i>{{ "tabHistoriaSocial.anadir" | transloco }}
                </button>
            </div>
            <div class="accordion accordion-flush" id="accordionNecesidades">
                <app-accordion-item [fecha]="'09/08/2023'" [titulo]="'NECESIDAD BÁSICA DE AUTONOMÍA PERSONAL - PROCESO DE ATENCIÓN SOCIAL A LA DISCAPACIDAD'"
                    [descripcion]="'D4. PERSONA CON PROBLEMAS GRAVES DE AUTONOMÍA PERSONAL.'" [classButton]="'cuadrado-off'"
                    [idDiv]="'flush-collapse1'" [isEstado]="false">
                </app-accordion-item>

                <app-accordion-item [fecha]="'15/06/2023'" [titulo]="'INCLUSIÓN SOCIAL'"
                    [descripcion]="'Texto2....................'" [classButton]="'cuadrado-on'"
                    [idDiv]="'flush-collapse2'" [isEstado]="false">
                </app-accordion-item>
            </div>
            <div class="card">
                <div class="card-header">
                    <label>
                        <i class="fa-regular fa-calendar"></i>
                        {{ "tabHistoriaSocial.proxCitas" | transloco }}
                    </label>
                </div>
                <div class="card-body">
                    <app-card-element [fecha]="'15/08/2023'" [titulo]="'SS Ciutat Vella - Agenda'" [color]="'bg-c-blue'"></app-card-element>
                    <app-card-element [fecha]="'16/08/2023'" [titulo]="'CAP Trinitat - Dr. José Barrios'" [color]="'bg-c-pink'"></app-card-element>
                    <app-card-element [fecha]="'17/08/2023'" [titulo]="'CAP Trinitat- Analíticas'" [color]="'bg-c-green'"></app-card-element>
                </div>
            </div>
        </div>
        <div class="col-7 panel-historia">
            <div class="panel-historia-cabecera">
                <label class="label-title2">{{
                    "tabHistoriaSocial.historiaSocial" | transloco
                    }}</label>
            </div>

            <div class="accordion accordion-flush" id="accordionHistoria">
                <app-accordion-item [fecha]="'15/03/2023'" [titulo]="'Test Pfeiffer'"
                    [descripcion]="'Texto1....................'" [classButton]="'cuadrado-off'"
                    [idDiv]="'flush-collapse3'" [isEstado]="true">
                </app-accordion-item>

                <app-accordion-item [fecha]="'22/08/2023'" [titulo]="'Solicitud RVI'"
                    [descripcion]="'Texto2....................'" [classButton]="'cuadrado-on'"
                    [idDiv]="'flush-collapse4'" [isEstado]="false">
                </app-accordion-item>
            </div>
        </div>
    </div>
</div>