.accordion-flush .accordion-item:last-child {
  border-bottom: 1px solid #dee2e6;
}

.accordion-button {
  font-size: 12px;
  color: #565353;
  padding: 8px;
}

.cuadrado-on {
  width: 10px;
  height: 8px;
  background: #95e17a;
}

.cuadrado-off {
  width: 10px;
  height: 8px;
  background: #9f9f9f5d;
}

.span-acordeon-fecha {
  text-align: left;
  font-size: 12px;
  color: #333333;
  opacity: 0.65;
  padding-left: 10px;
  padding-right: 12px;
}

.span-acordeon-titulo {
  font-size: 12px;
  color: #495057;
}
