$primary-color: #a91f34;

.bg-body-tertiary {
  color: white;
  background-color: $primary-color !important;
}

.nav-item {
  border-left: 1px solid rgba(255, 255, 255, 0.35);
  padding: 0px 18px 0px 18px;

  //opacity: 0.35;
  >.title {
    font-size: 15px;
    font-weight: 500;
  }

  >.subtitle {
    font-size: 12px;
    opacity: 0.88;
  }
}

img {
  padding: 0px 18px 0px 12px;
}

div {
  >.name {
    border-right: 1px solid rgba(255, 255, 255, 0.35);
    padding: 0px 18px 0px 18px;
  }

  >.subtitle-name {
    font-size: 13px;
    font-weight: 500;
  }

  >.subtitle-name-rol {
    font-size: 12px;
    opacity: 0.88;
  }

  >i {
    padding: 0px 10px 0px 18px;
    align-self: center;
  }

  .div-idioma {
    align-items: center;
    color: #ffffff;
    opacity: 0.88;
    font-size: 11px;
    padding-left: 23px;

    >label {
      cursor: pointer;

      &.active {
        text-decoration: underline;
      }
    }
  }
}