
$primary-color: #333333;

.bg-body-tertiary {
    color: white;
    background-color: $primary-color !important;
}

.nav-item {
    border-left: 1px solid gray;
    padding: 0px 18px 0px 18px;
    >.title {
        font-size: 15px;
        font-weight: 500;
    }
    >.subtitle {
        font-size: 12px;
    }
}

img {
    padding: 0px 18px 0px 12px;
}

div {
    >.name {
        border-right: 1px solid gray;
        padding: 0px 18px 0px 18px;
    }
    >.subtitle-name {
        font-size: 12px;
    }
    >i {
        padding: 0px 10px 0px 18px;
        align-self: center;
    }
}