
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <img width="130" src="../../../../../assets/icons/client-logo.svg" alt="">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item align-column">
            <label for="" class="title">SIHSU</label>
            <label for="" class="subtitle">Sistema de información Historia Social Única</label>
            
          </li>
          <li class="nav-item align-column">
            <label for="" class="title">Centro de Servicios Sociales</label>
            <label for="" class="subtitle">Ayuntamiento de Valencia</label>
          </li>
        </ul>
        <div class="d-flex">
          <div class="name align-column">
            <label for="" class="subtitle-name">CRISTINA GÓMEZ SUAREZ</label>
            <label for="" class="subtitle-name-rol">Trabajadora Social</label>
          </div>          
          <i class="fa-solid fa-power-off"></i>
        </div>
      </div>
    </div>
  </nav>